/* Top section */
.top-section {
  background-color: white;
  padding: 20px;
  border-bottom: 2px solid navy;
}

/* Body styling */
body {
  background-color: lightblue;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

/* Heading styles */
h1 {
  font-family: Bookman Old Style;
  font-size: 60px;
  color: navy;
  text-align: center;
  border-style: double;
}

h2 {
  font-family: Bookman Old Style;
  font-size: 20px;
  color: navy;
  text-align: center;
}

/* Additional styling */
.trackers, .cookies, .ads, .cyber {
  line-height: 0;
}

.cookies {
  padding-right: 15px;
}

.ads {
  padding-right: 65px;
}

.cyber {
  padding-right: 30px;
}

h3 {
  font-family: Arial;
  color: navy;
  text-align: center;
  line-height: 7;
}
