body {
  background-color: lightblue;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

h1 {
  font-family: Bookman Old Style;
  font-size: 60px;
  color: navy;
  text-align: center;
  border-style: double;

}

h2 {
  font-family: Bookman Old Style;
  font-size: 20px;
  color: navy;
  text-align: center;
}

.trackers {
	line-height: 0;
}
.cookies {
	line-height: 0;
	padding-right: 15px;
}
.ads {
	line-height: 0;
	padding-right: 65px;
}
.cyber {
	line-height: 0;
	padding-right: 30px;
}

h3 {
  font-family: Arial;
  color: navy;
  text-align: center;
  line-height: 7;
}